{{define "editor_preview"}}
<div id="editor-preview">
    {{template "editor" .}}
    {{template "preview" .}}
</div>
{{end}}

{{define "editor"}}
<textarea id="editor" class="flex-1 p-6 min-h-96" hx-post="/editor/input" hx-trigger="keyup delay:200ms"
    hx-target="#preview" hx-swap="outerHTML" type="text" name="content">
    {{- .ParsedX -}}
</textarea>
{{end}}

{{define "preview"}}
<div id="preview" class="prose prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-h5:text-lg">
    {{- .ParsedInput -}}
</div>
{{end}}
